body {
    font-family: 'Playfair Display', serif;
}

.main {
    padding: 0;
    margin: auto;
    background-color: #f5f5f5;
}

.genretiquette p {
    text-align: center;
}

.genres {
    margin-top: 20px;
}

.genres h2 {
    text-align: center;
}

.title_description {
    display: flex;
    flex-direction: row;
}

.description {
    background-color: wheat;
    padding: 10px;
}

#mainImg {
    width: 300px;
    height: auto;
}

.title_description img {
    margin: 20px 10px 10px;
}

.description:hover, .genres:hover, .popularity:hover, .votes:hover, .IndividualReview:hover, #release:hover {
    box-shadow: 10px 10px black;
    background-color: #f1cb76;
}

.description, .genres, .popularity, .votes, .IndividualReview, #release {
    background-color: wheat;
    box-shadow: 4px 4px #e6e6e6;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 20px;
}

#release {
    padding: 10px;
    background-color: #35EEDDFF;
    border-left-style: solid;
    border-color: blue;
    border-radius: 0 4px 4px 0;
    width: 280px;
}

.divPopularityVotes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.votes, .popularity {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.votes img, .popularity img {
    margin: auto;
    padding-bottom: 15px;
}

.types {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.comments h2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
}

.IndividualReview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.titleImg {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.titleImg img {
    padding: 15px;
    margin-bottom: auto;
}

.divReviewCreateDate {
    width: 250px;
    background-color: #c5d6e1;
    border-radius: 5px;
    box-shadow: 4px 4px #888888;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .description:hover, .genres:hover, .popularity:hover, .votes:hover, .IndividualReview:hover, #release:hover {
        box-shadow: 15px 15px black;
        background-color: #f1cb76;
    }

    .titleImgDate {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: baseline;
    }

    .titleImg {
        margin-left: 30px;
        flex-grow: 1;
    }

    .titleImg img {
        padding: 0;
        margin-top: auto;
    }

    #release:hover {
        background-color: #11bda9;
    }

    .genres p, .popularity p, .votes p {
        font-size: 25px;
    }

    .description, .genres, .popularity, .votes, .IndividualReview, #release {
        background-color: wheat;
        box-shadow: 4px 4px #e6e6e6;
        border-radius: 5px;
        padding: 5px 20px;
        margin: 20px;
        font-size: 20px;
    }

    .popularity img, .votes img {
        display: flex;
        align-self: center;
    }

    .popularity, .votes {
        width: 300px;
        padding-bottom: 40px;
    }

    .IndividualReview h3 {
        font-size: 30px;
    }

    .genretiquette p {
        color: #000000;
        text-align: center;
    }

    body {
        font-family: 'Playfair Display', serif;
    }

    .genretiquette {
        margin: 10px;
    }

    #mainImg {
        box-shadow: 4px 4px #e6e6e6;
        border-radius: 5px;
        width: 500px;
    }

    #mainImg:hover {
        box-shadow: 15px 15px black;
    }

    .IndividualReview {
        margin: 20px;
        display: flex;
        max-width: 1600px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .IndividualReview h3 {
        text-transform: capitalize;
    }

    .divPopularityVotes {
        gap: 30px;
    }

    #release {
        font-size: 25px;
        padding: 10px;
        background-color: #35EEDDFF;
        border-left-style: solid;
        border-color: blue;
        border-radius: 0 4px 4px 0;
        width: 300px;
    }

    .IndividualReview * {
        margin: 15px;
        display: flex;
    }

    .main {
        padding: 100px;
        margin: auto;
        background-color: #f5f5f5;
    }

    .content-noreviews {
        display: flex;
        width: 90%;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        margin: 10px;
    }

    .divPopularityVotes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content-img {
        margin: 10px 20px 10px 10px;
        padding: 50px;
    }

    img {
        margin: 0;
    }

    .types {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .genres h2 {
        text-align: center;
    }


    h1 {
        font-size: 40px;
    }

    .review {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
    }

    .description img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .comments {
        margin: 40px 20px 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 30px;
    }

    .comments h2 {
        font-size: 35px;
        text-align: left;
    }

    .divReviewCreateDate {
        width: auto;
        background-color: #c5d6e1;
        border-radius: 5px;
        box-shadow: 4px 4px #888888;
        max-width: 240px;
        text-align: center;
        margin-right: 80px;
    }

    .divReviewCreateDate p {
        font-size: 25px;
        text-align: center;
    }
}